#contenido{
margin-left: auto;

}


h1{
    color: blue;
    text-align: center;

}
img{
    border-radius: 50%;
    height: 25%; 
    width: 60%;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#info_personal{
background-color: lightblue;
color: black;
left: 0;
font: serif;
margin: color ;
border: solid 10px lightblue;
height: 100%;
text-align: left;
margin-block-end: auto;
position: absolute;
top: 0;
}