*{
    font-style: inherit;
}

#contenido{
margin-left: auto;
background-color: white;
justify-content:space-around;
text-align: left;
display: block;
float:right;
width: 78%;
margin-block: auto;
}

#info_personal_ul2{
    

}

.linea{
    text-decoration: overline;
    text-decoration-color: red;
    text-decoration-style:solid;
    text-transform: uppercase;
}

h1{
    color: blue;
    font-size: 85px;
    text-align:left;
    margin-block: auto;
    margin-left: 20%;
}

img{
    border-radius: 50%;
    height: 25%; 
    width: 60%;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info_personal{
border: 0;
margin-top: 5px;
margin-bottom: 5px;
}

#info_personal{
background-color: lightblue;
border: solid 10px lightblue;
color: black; 
left: 0;
font-weight: bold;
height: 100%;
width: 20%;
text-align: left;
margin-block-end: auto;
position: absolute;
top: 0;

}